{% extends "layouts/base.html" %}

{% block content %}
	<article class="half-half about">
		<section class="right-column">
			<h2>Shlv.me Button</h2>
			<p>Install the following button (drag and drop the link to your bookmarks bar).</p>
			<a class="button neutral" href="javascript:(function(){%20window.open(%22http://shlv.me/services/incoming?loc=%22+encodeURIComponent(%20location.href));%20})();">Shlv.me</a>
			<p>Once installed in your browser, the "Shlv.me" button lets you grab an item from Amazon, IMDB or MusicBrainz and add it to one of your shelves.
		</section>

		<section class="left-column">
			<h2>About</h2>
			<p>Shlv.me is a project of the <a href="http://librarylab.law.harvard.edu/">Harvard Library Innovation Lab</a>.</p>
			<p>Shelves are built using a jQuery plugin called <a href="https://github.com/harvard-lil/stackview">StackView</a>.  Grab the code on <a href="https://github.com/harvard-lil/stackview">GitHub</a>.</p>
		</section>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
{% endblock scripts %}