{% extends "layouts/base.html" %}

{% block content %}
	<article class="medium-centered">
		<h1>FAQ</h1>
		<h3>Whahuh? What is Shlv.me?</h3>
		<p>Shlv.me is an application that helps you build and share shelves of books, movies, albums, and most anything on the web.</p>
		
		<h3>I've installed the Shlv.me bookmarklet, what does this do for me?</h3>
		<p>The Shlv.me bookmarklet helps you grab content from Amazon, IMDB, GoodReads and MusicBrainz easily. </p>
		
		<h3>Oh man, I'm lost, you have a bookmarklet?</h1>
		<p>Yes and it's a good one. Find it on our <a href="{% url about %}">About page</a></p>
		
		<h3>Your bookmarklet doesn't support my favorite site. Bummer. Will you consider supporting it?</h1>
		<p>If your site is amazing, we'll roll in support. <a href="mailto:lil@law.harvard.edu">Shoot us an email</a> and give us the details.</p>
		
		<h3>To hell with you and your bookmarklet, I want to link directly to your "add item" form. Is that cool?</h1>
		<p>Yes. It's pretty straightforard. Use this as a template: http://localhost:8000/shlvme/add-item/?measurement_page_numeric=544&title=The+Information%3A+A+History%2C+A+Theory%2C+A+Flood&format=book&creator=James+Gleick&value=1400096235&link=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fproduct%2F1400096235%2F&key=isbn&measurement_height_numeric=20&pub_date=2012</p>
		
		<h3>Do you sell my email address?</h3>
		<p>No way! We hate spam as much as you do.</p>
		
		<h3>How much does this cost?</h3>
		<p>It's free to you. Development is courtesy of the <a href="http://librarylab.law.harvard.edu">Harvard Library Innovation Lab</a>.</p>
		
		<h3>How do I upload a picture of myself on my Shlv.me home page?</h3>
		<p>Profile pictures are managed by <a href="http://gravatar.com">Gravatar.com</a>. We like Gravatar. They'll host your picture for free and seem to be responsible folks (they're the <a href="http://wordpress.org/">WordPress</a> people).</p>
		
		<h3>This FAQ doesn't answer my questions and I need to talk to someone. Do you have an email address?</h3>
		<p>Yup. Find us at <a href="mailto:lil@law.harvard.edu">Harvard Library Innovation Lab.</a></p>
	</article>
{% endblock content %}