{% extends "layouts/base.html" %}

{% block content %}
	<article class="half-half welcome">
		<section class="right-column">
			<h1>Shlv.me</h1>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			<p><a href="{% url process_register %}" class="button positive icon-ok immediate">Get Started</a></p>
			<video src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" width="100%" controls></video>
		</section>

		<section class="left-column">
			<div class="welcome-stack"></div>
		</section>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script src="http://api.html5media.info/1.1.5/html5media.min.js"></script>
	<script type="text/javascript">
		$('.welcome-stack').stackView({
			data: [
				{
					format: 'book',
					title: 'Test Title',
					creator: [
						'Test Author'
					],
					pub_date: "1942",
					link: '#',
					shelfrank: 50,
					measurement_height_numeric: 30
				}
			],

			ribbon: 'Placeholder Stack'
		})
	</script>
{% endblock scripts %}