{% extends "layouts/base.html" %}

{% block content %}
	<article class="half-half welcome">
		<section class="right-column">
			<h1>Shlv.me</h1>
			<p>Build and share shelves of books, movies, albums, and most anything on the web</p>
			<p><a href="{% url process_register %}" class="button positive icon-ok immediate">Get Started</a></p>
			
			
			<p>Easy in - You send things to Shlv.me using a dead-simple bookmarklet</p>
			<p>From anywhere - When you add an item to a shelf we grab details for you, saving your fingers from extra typing</p>
			<p>You are not a commodity - Shlv.me is a library service. We don't make money. We don't sell your info</p>
			<p>Easy out - We provide you with short, sharable links to your shelves and provide you embeddable versions for your blog</p> 
		</section>

		<section class="left-column">
			<div id="welcome-stack"></div>
		</section>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
    	$(function () {
    		$('#welcome-stack').stackView({
			    data: {% autoescape off %}{{ shelf_items }}{% endautoescape %},
			    ribbon: '{{ shelf_name }}'
			}); 
		});
	</script>	
{% endblock scripts %}