<!doctype html>

<head>
	<meta charset="UTF-8">
	
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	
	<link rel="stylesheet" type="text/css" media="all" href="/static/style/core.css" />	
</head>

<body>
{% include "topbar.html" %}

<div id="container">
<h2>Login</h2>

{% if user.is_authenticated %}
	<p>Hello, {{ user.username }}. You are logged in.</p>
{% else %}
	<form method="post" action=".">
		{% csrf_token %}
		<table>
		<tr>
		    <td>{{ formset.username.label_tag }}</td>
		    <td>{{ formset.username }}</td>
		</tr>
		<tr>
		    <td>{{ formset.password.label_tag }}</td>
		    <td>{{ formset.password }}</td>
		</tr>
		</table>
		
		<input type="submit" value="login" />
	</form>
{% endif %} 
</div>
</body>
</html>