{% extends "layouts/base.html" %}

{% block content %}
	<article class="register thin-centered">
		<h1>Create an Account</h1>
		
		<form action="." method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="button positive icon-ok immediate">Create Account</button>
		</form>
	</article>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
	$('form p input').on('propertychange keyup input paste', function() {
    	$('form label:first').html('http://shlv.me/' + $(this).val());
 	});
</script>
{% endblock scripts %}