
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>StackView Basic</title>

<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!-- stackview.css to style the stack -->
<link rel="stylesheet" href="/static/stackview/css/stackview.css" type="text/css" />

<!-- stackview.js and all js dependencies -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/stackview/js/jquery.infinitescroller.min.js"></script>
<script type="text/javascript" src="/static/stackview/js/jquery.mousewheel.pack.js"></script>
<script type="text/javascript" src="/static/stackview/js/jquery.stackview.js"></script>

<script type="text/javascript">
    $(function () { 
		$('#static-stack').stackView({
		    url: '/shelve-it/services/shelf/{{ shelf_name }}.json',
			//url: '/static/static.json',
		    ribbon: 'Some stack'
		});
	});
</script>

</head>

<body>
	{{ shelf_name }}
		
<div id="static-stack"></div>
	


</body>
</html>