<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
		
	<link rel="stylesheet" type="text/css" media="all" href="/static/style/core.css" />
	
	<style type="text/css">
		#user_shelves, #shelf_details {
			margin: 0px;
			float: left;
			display: inline;
			clear: none;
			padding: 5px;
		}

		#shelf_details {
			float: right;
			background-color: #DFE0E2;
		}
     </style>

	
	<!-- stackview.css to style the stack -->
	<link rel="stylesheet" href="/static/stackview/css/stackview.css" type="text/css" />
	
	
	<!-- stackview.js and all js dependencies -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/stackview/js/jquery.infinitescroller.min.js"></script>
	<script type="text/javascript" src="/static/stackview/js/jquery.mousewheel.pack.js"></script>
	<script type="text/javascript" src="/static/stackview/js/jquery.stackview.js"></script>
	
	<script type="text/javascript">
	    $(function () { 
			$('#static-stack').stackView({
			    url: 'http://localhost:8000/shlvme/api/shelf/{{ user_name }}/{{ shelf_name }}/',
			    ribbon: '{{ shelf_name }}'
			});
		});
	</script>

</head>

<body>
{% include "topbar.html" %}



<div id="container">
	<div>
		<span id="user_shelves">
			<span id="stack_container">
				<div id="static-stack"></div>
			</span>
		</span>
		<span id="shelf_details">
			<h3>Selected item in stack</h3>
			<p>Title: <input name="title" value="Grapes of wrath"/></p>
			<p>Creator: <input name="creator" value="John Steinbeck"/></p>
			<p>Height: <input name="height" value="12"/></p>
			<p>Width: <input name="width" value="26"/></p>
			<p>ISBN: <input name="isbn" value="q345345f23"/></p>
			<p>Web location: <input name="web_location" value="http://hollis.harvard.edu/?itemid=|library/m/aleph|003665901"/></p>
			<p><input value="read date"/>: <input value="summer 2007"/></p>
			<p><input value="book that lead me to this one"/>: <input value="Of mice and men"/></p>
			<p><input value="was it great?"/>: <input value="yes"/></p>
		</span>
	</div>
</div>

</body>
</html>