<script type='text/x-template' id="item-details">
	<div class="island item-details">
		<header>
			<a href="<%=link%>" class="view-item button neutral icon-external" target="_blank">View</a>
			<h3><%=title%></h3>
		</header>

		<section>
			
			<% if (isbn) { %>
		  		<img src="http://covers.openlibrary.org/b/isbn/<%=isbn%>-M.jpg" alt="<%=title%>" />
			<% } %>

			<ul>
				<li>
					<h4>Creators:</h4>
					<%=creator.join(', ')%>
				</li>
				<li>
					<h4>Published:</h4>
					<%=pub_date%>
				</li>
				<li>
					<h4>Added to shelf:</h4>
					<%
						var parts =creation_date.match(/(\d+)/g);
  						d = new Date(parts[0], parts[1]-1, parts[2]);
  						cleaned_creation_date = d.toDateString();
					%>
					<%=
						cleaned_creation_date
					%>
				</li>
				<% if (notes) { %>
					<li>
						<h4>Notes:</h4>
						<%=notes%>
					</li>
				<% } %>
			</ul>
		</section>

		{% if is_owner %}
			<footer>
				<ul class="item-actions">
					<li><a href="/api/item/<%=item_uuid%>/" class="button negative delete-item icon-trash" data-confirm-message="Are you sure you want to delete <%=title%>?" data-confirm-type="negative" data-confirm-accept="Delete item" data-confirm-reject="Do not delete item"></a></li>
				</ul>
			</footer>
		{% endif %}
	</div>
</script>