.main {
	width:$siteWidth;
	margin:0 auto;
	padding:0 $siteGutter;
}

.global-header {
	/* background:url(../images/fabric_header.png) $globalHeader; */
	background-color: #000;
	margin-bottom:48px;
	/* text-shadow:1px 1px 1px rgba(255,255,255,.6); */
	/*box-shadow:0 5px 10px rgba(0,0,0,.2), inset 0 15px 20px rgba(255,255,255,.5); */
	border-bottom:1px solid rgba(128,128,128,.1);
	position:relative;
	z-index:3;

	> nav {
		@extend .clearfix, .main;

		> h1 {
			float:left;
			margin:0;
			font-size:32px;
			line-height:1.5;

		}

		> ul {
			float:right;
			padding:0;
			margin:0;
			position:relative;
			left:16px;

			li {
				float:left;
				border-left:1px solid rgba(0,0,0,.1);

				&:first-child {
					border-left:0;
				}
			}

			a {
				display:block;
				font-size:16px;
				line-height:3;
				padding:0 16px;

				&:hover, &:focus {
					background:rgba(255,255,255,.3);
				}
			}
		}
	}

	a {
		/* color:rgba(0,0,0,.5); */
		color: #FFF;
		text-decoration:none;
	}
}



.global-footer {
	@extend .main;
	color:#888;

	> p {
		border-top:1px solid $minorGray;
		font-size:12px;
		line-height:3;
		padding-top:6px;
		
		> .branding {
		  float:right;
		}
		
		.branding img {
		  float:right;
		  padding: 0 0 0 5px;
	    width:45px;
	  }
	}
	
}

.half-half {
	@extend .clearfix;

	> .right-column {
		float:right;
		width:($siteWidth - $columnSpacing) / 2;
	}
	
	> .left-column {
		float:left;
		width:($siteWidth - $columnSpacing) / 2;
	}
}

.thin-centered {
	width:50%;
	margin:0 auto;
}

.medium-centered {
  width: 75%;
  margin: 0 auto; 
}

.two-thirds {
	@extend .clearfix;

	> aside, > .aside {
		float:left;
		width:($siteWidth - $columnSpacing) / 3;
	}

	> .content {
		float:right;
		width:($siteWidth - $columnSpacing) / 3 * 2;
	}
}