{% extends "layouts/base.html" %}

{% block title %}About Shelf.io{% endblock %}

{% block content %}
	<article class="medium-centered">
		<section>
			<h1>About</h1>
			<p>Shelf.io helps you build and share shelves of books, movies, albums, and most anything on the web. Add things to Shelf.io using the <a href="{% url bookmark %}">Shelf.io Bookmark</a></p>
			<p>Shelf.io is a project of the <a href="http://librarylab.law.harvard.edu/">Harvard Library Innovation Lab</a>.</p>
			<p>Shelves are created using a jQuery plugin called <a href="https://github.com/harvard-lil/stackview">StackView</a>. Grab the code for StackView a <a href="https://github.com/harvard-lil/stackview">GitHub</a>. Grab the Shelf.io code at <a href="https://github.com/harvard-lil/shelfio">GitHub</a> </p>
			<p>Need more info? The next stop is to read the <a href="{% url faq %}">Common Questions page</a>. If you still have questions, shoot the <a href="mailto:lil@law.harvard.edu">Harvard Library Innovation Lab</a> an email.</p>
		</section>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
{% endblock scripts %}