{% extends "layouts/base.html" %}

{% block content %}
	<article class="medium-centered privacy-policy bookmark">
		<h1>Shlv.me Bookmark</h1>
		<section>
			<h3>Get the bookmark</h3>
			<p>It's easy to get started, just drag the following button to your bookmarks bar</p>
			<p><a class="button" href="javascript:(function(){%20window.open(%22http://shlv.me/services/incoming?loc=%22+encodeURIComponent(%20location.href));%20})();">Shlv.me+</a></p>
			<p>When you find something out on the web you want to add to Shlv.me, just click on the Shlv.me+ bookmark.</p>
		</section>
		
		<section>
			<h3>Supported Sites</h3>
			<p>When you use the Shlv.me+ bookmark, you can add just about anything on the Web to Shlv.me. If you send something from one of our supported sites, we'll try our best to extract details for you. Supported sites include:</p>
			<ul>
				<li>Amazon</li>
				<li>Goodreads</li>
				<li>MusicBrainz</li>
				<li>Open Library</li>
				<li>IMDB</li>
			</ul>
		</section>
		
		<section>
			<h3>Linking directly to the <i>add item</i> page</h3>
			<p>If you want to make it easy for folks to send things to their Shlv.me shelves you can link directly to our <i>add item</i> page. Use this as a template:  <input type="text" name="add-form-template" value="http://shlv.me/add-item/?measurement_page_numeric=544&title=The+Information%3A+A+History%2C+A+Theory%2C+A+Flood&format=book&creator=James+Gleick&isbn=1400096235&link=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fproduct%2F1400096235%2F&measurement_height_numeric=20&pub_date=2012" /></p>
		</section>
	</article>
{% endblock content %}