{% extends "layouts/base.html" %}

{% block content %}
	<article class="half-half welcome">
		<section class="right-column">
			<h1>Shelf.io</h1>
			<h2>Build and share shelves of books, movies, albums, and most anything on the Web</h2>
			<p id="call-to-action">
				{% if not user.is_authenticated %}
				<a href="{% url process_register %}" class="button positive icon-ok immediate">Get Started</a>
				{% endif %}
			</p>
			<h3>Easy in</h3>
			<p class="selling-desc">Send things to Shelf.io using a simple <a href="{% url bookmark %}">bookmark</a></p>
			<h3>From anywhere</h3>
			<p class="selling-desc">When you add an item to a shelf we extract the details for you, saving your fingers some typing</p>
			<h3>You are not a commodity</h3>
			<p class="selling-desc">Shelf.io was created by a library. We don't make money. We don't sell your info</p>
			<h3>Easy out</h3>
			<p class="selling-desc">We provide you with short links and embeddable versions of your shelves. Share with your friends</p> 
		</section>

		<section class="left-column">
			<div id="welcome-stack"></div>
		</section>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
    	$(function () {
    		$('#welcome-stack').stackView({
			    data: {% autoescape off %}{{ shelf_items }}{% endautoescape %},
			    ribbon: '{{ shelf_name }}'
			}); 
		});
	</script>	
{% endblock scripts %}