{% extends "layouts/base.html" %}

{% block content %}
	<article class="medium-centered privacy-policy">
		<h1>Privacy Policy</h1>
		
		<h3>What is Shelf.io?</h3>
		<p>Shelf.io is an application that helps you build and share shelves of books, movies, albums, and most anything on the web. It was built and maintained by the Library Innovation Lab at the Harvard Law School.</p>
		<p>We collect limited, anonymous information from site visitors in order to measure site activity and improve the usefulness of our site. The usage information we collect may include IP address, browser type, operating system, screen size and resolution, date and time of visit, search engine and search terms, and IP address of referring page. We collect this information on an aggregate basis only. We do not link any of the above information to any personal identifiers. Some of our software services and sites make use of third party services that may collect IP addresses and set cookies. We publish exactly what those services are. Those users who do not wish to expose any personal information should consider using anonymizing services where possible.</p>

		<h3>Public shelves</h3>
		<p>By default, all shelves are public and freely accessible to everyone on the web. If this concerns, make sure your shelves are private. Private shelves are only available to your authenticated user account.</p>
		
		<h3>Disclosure to third parties</h3>
		<p>Available log records, and all stored data may be accessed by our system administrators. The system administrators may produce these records and data to the Administrative Dean, Dean of Students, or the Administrative Board, upon request or suspected violation of our terms of use. It is Harvard's policy to cooperate with law enforcement officials in the detection, investigation, and prosecution of unlawful activity. If we receive a warrant or subpoena for user information, we may disclose requested records to law enforcement authorities or outside parties seeking information through the legal process.</p>
		<p>In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made so that you may object to the disclosure. We will send this notice by email to the address you have given us. We prefer to independently object to over-broad requests for access to information about users of our site, but we cannot assure you that we will be able to do this in all cases. If you do not challenge the disclosure request yourself, we may be legally required to turn over your information.</p>

		<h3>Links to independent sites</h3>
		<p>Shelf.io may link to sites outside of the law.harvard.edu domain. Shelf.io is not responsible for the privacy practices or content of such sites.</p>

		<h3>Shelf.io and third parties</h3>
		<p>As is true for many Web sites, Shelf.io uses a number of third party sites for services and content. When Shelf.io makes a request to those services, the Hypertext Transfer Protocol used by virtually all Web sites automatically includes the IP address of the user's machine.</p>
		<p>Some of the third party services are optional and clearly labeled. For example, users of Shelf.io can click on an item to view it on the third party's site. But, some of the third party services Shelf.io uses are automatically called by Shelf.io when pages are loaded. Users of Shelf.io should be aware that by visiting various Shelf.io pages, the following third party services may be automatically called, resulting in the Hypertext Transfer Protocol communicating the user's IP address:</p>
		<p>(1)Google:</p>
		<p>(a) When a user does not already have cached copy of jQuery (an open source library of Javascript functionality) on her or his machine, Shelf.io fetches a copy via the Google API. This procedure slightly improves performance</p>
		<p>(b) Similar to (a), if the user does not already have cached copies of some fonts, Shelf.io automatically downloads them via the Google API.</p>
		<p>In each of these cases, the information automatically communicated to the listed site consists of the standard information included in an HTTP request, including the user's IP address. If, however, the user explicitly clicks on a link to a third party service, additional information will very likely be transmitted; for example, clicking on a link to the Google book viewer will also transmit information that identifies the book to be viewed. Users who do not want to communicate any additional information to third party sites should not click on those links.</p>
		<p>It is possible that we will add other third party services to Shelf.io, since this brings the user new functionality. If so, we will update this list. Additionally, while we have attempted to provide a complete list, because the HTTP protocol requires the user's IP address and because that protocol is invoked for Web activities as common as using an image from another site, we cannot guarantee that we have here listed all such cases.</p>

		<h3>Children</h3>
		<p>The Lab site including Lab research project sites are intended for adults. We do not knowingly collect personal information from children under 13 years old. If you are a parent or legal guardian of a child under age 13 who you believe has submitted personal information to a Lab site, please contact us at the address below immediately.</p>
		
		<h3>Questions?</h3>
		<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, you can contact:</p>
		
		<p>
		Harvard Library Innovation Laboratory<br />
		Harvard Law School Library<br />
		Langdell Hall, First Floor<br />
		Cambridge, MA 02138<br />
		lil@law.harvard.edu
		</p>
		
		<h3>Changes to this privacy statement</h3>
		<p>An announcement of any changes to this privacy statement will be posted prominently on our blog and the first page of our site.</p>
		
		<h3>Effective date of this privacy statement</h3>
		<p>The effective date of this privacy statement is July 9, 2012.</p>

	</article>
{% endblock content %}