{% extends "layouts/base.html" %}
{% block title %}{{ user_name }} Shelf.io{% endblock %}

{% block content %}
	<article class="two-thirds user">
		<aside>
			{% include "partials/user-widget.html" %}
		</aside>

		<div class="content">
			<h1>Shelves
				{% if is_owner %}
					<a href="#new-shelf" title="New Shelf" class="button positive immediate">+</a>
				{% endif %}
			</h1>
			
			{% if is_owner and user.get_profile.display_welcome %}
				<article class="shelf-overview island"  id="welcome-notes">
					<header>
						<h2>Welcome aboard, grab the bookmark</h2>
		    			<span id="kill-welcome" class="icon-remove"></span>
					</header>
			
					<section>
						<p>It's easy to get started, just drag the following button to your bookmarks bar</p>
						<a class="button neutral" href="javascript:(function(){%20window.open(%22http://shelf.io/services/incoming?loc=%22+encodeURIComponent(%20location.href));%20})();">Shelf.io+</a>
						<p>When you find something out on the web you want to add to Shelf.io, just click on the Shelf.io+ bookmark.</p>
						<p>Happy shelving.</p>
					</section>
				</article>
			{% endif %}
			
			{% for shelf in docs %}
				{% include "partials/shelf-overview.html" %}
			{% empty %}
				<p class="empty">You don't have any shelves yet.</p>
			{% endfor %}

			{% if is_owner %}
				{% include "partials/new-shelf-form.html" %}
			{% endif %}
		</div>
	</article>
{% endblock content %}

{% block templates %}
	{% include "clientside/edit-shelf-form.html" %}
{% endblock templates %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
	$('input[name=name]').on('propertychange keyup input paste', function() {
		// Show the user what the url of the shelfname will be
		
		$('#input_preview').fadeIn("fast");
		
		var shelfname = $(this).val()
		var slugged_shelfname = shelfname.replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase();
    	$('#input_preview').html(' -- http://shelf.io/' + $('.icon-user').html() + '/' + slugged_shelfname);
 	});
 	
</script>
<script type="text/javascript">
	$('#kill-welcome').on('click', function() {
		// We display a welcome message to the user until she kills it
		
		$.ajax({
				url: '/' + $('.icon-user').html() + '/helpers/',
				type: 'POST',
				data: {
					'show-welcome': 'False'
				},
				statusCode: {
					204: function() {
						$('#welcome-notes').fadeOut()
					}
				}
			})
 	});
 	
 	$('html').ajaxSend(function(event, xhr, settings) {
	    function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	        // Only send the token to relative URLs i.e. locally.
	        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	    }
	});
				

	$(".user .button:first").click(function() {		
		event.preventDefault();
		
		if ($(this).hasClass('icon-unstar')) {
			$.ajax({
				url: '{{ SHELFIO_API_LOCATION }}/favorites/user/',
				type: 'POST',
				data: {
					'_method': 'POST',
					'user_name': '{{ user_name}}'
				},
				statusCode: {
					201: function() {
						$(".user .button:first").toggleClass("icon-star icon-unstar");
					}
				}
			});
		
		} else if ($(this).hasClass('icon-star')) {
			$.ajax({
				url: '{{ SHELFIO_API_LOCATION }}/favorites/user/',
				type: 'POST',
				data: {
					'_method': 'DELETE',
					'user_name': '{{ user_name}}'
				},
				statusCode: {
					204: function() {
						$(".user .button:first").toggleClass("icon-star icon-unstar");
					}
				}
			});
		}
	});
</script>
{% endblock scripts %}
{% block extrascripts %}
  <script src="{{ STATIC_PREFIX }}script/shelfio.js"></script>
{% endblock extrascripts %}