{% load md5 %}

<figure class="profile-image">
	<img src="http://www.gravatar.com/avatar/{{ email|md5 }}?s=256&d=mm" alt="{{ user_name }}">
	<figcaption>{{ user_name }}</figcaption>
</figure>

{% if is_owner %}
	<ul class="profile-info">
		{% if first_name or last_name %}
			<li><strong>Name:</strong> {{ first_name }} {{ last_name }}</li>
		{% endif %}
		{% if email %}
			<li><strong>Email:</strong> {{ email }}</li>
		{% endif %}
		{% if user.is_authenticated %}
			<li><strong>Joined Shelv.me on:</strong> {{ date_joined|date:"F jS, Y" }}</li>
		{% endif %}
		
		<li class="edit-profile"><a href="#edit-profile" class="button-small neutral icon-edit">Edit profile</a></li>
	</ul>

	<form class="contained-form island form-hidden" action="." method="post" id="edit-profile">
		<input type="hidden" name="_method" value="patch">
		{% csrf_token %}
		
		<header>
			<h3>Edit Profile</h3>
		</header>
		
		<section>
			<div class="edit-profile-section">
				<label>Change password:</label>
				<p class="profile-text">Change your password? <a href="{% url auth_password_change %}">The password management page is what you want.</a></p>
			</div>
			<div class="edit-profile-section">
				<label>Change profile pic:</label>
				<p class="profile-text">Profile images are managed by <a href="http://gravatar.com" target="_blank">Gravatar</a>. Be sure your Shelf.io email matches your Gravatar email.</p>
			</div>

			{{ profileform.as_p }}
			<p>
				<button type="submit" class="button positive icon-ok">Ok</button>
			</p>
		</section>
	</form>
	
{% endif %}
