<script type='text/x-template' id="item-details">
	<div class="island item-details">
		<header>
			<a href="<%=link%>" class="view-item button neutral icon-external" target="_blank">View</a>
			<h3><%=title%></h3>
		</header>

		<section>
			<ul>
				<li>
					<h4>Creators:</h4>
					<%=creator.join(', ')%>
				</li>
				<li>
					<h4>Published:</h4>
					<%=pub_date%>
				</li>
				<li>
					<h4>ISBN:</h4>
					<%=isbn%>
				</li>
				<li>
					<h4>Item Created:</h4>
					<%=creation_date%>
				</li>
			</ul>
		</section>

		<footer>
			<ul class="item-actions">
				<li><a href="/shlvme/api/item/<%=item_uuid%>/" class="button negative delete-item icon-delete" data-confirm-message="Are you sure you want to delete <%=title%>?" data-confirm-type="negative" data-confirm-accept="Delete Item" data-confirm-reject="Never Mind">Delete Item</a></li>
			</ul>
		</footer>
	</div>
</script>