<script type='text/x-template' id="item-details">
	<div class="island item-details">
		<header>
			<a href="<%=link%>" class="view-item button neutral icon-external" target="_blank">View</a>
			<h3><%=title%></h3>
		</header>

		<section>
			
			<% if (isbn) { %>
		  		<img src="http://covers.openlibrary.org/b/isbn/<%=isbn%>-M.jpg" alt="<%=title%>" />
			<% } %>

			<ul>
				<li>
					<h4>Creators:</h4>
					<%=creator.join(', ')%>
				</li>
				<li>
					<h4>Published:</h4>
					<%=pub_date%>
				</li>
				<li>
					<h4>Added to shelf:</h4>
					<%=creation_date%>
				</li>
				<li>
					<h4>Notes:</h4>
					<%=notes%>
				</li>
			</ul>
		</section>

		{% if is_owner %}
			<footer>
				<ul class="item-actions">
					<li><a href="/shlvme/api/item/<%=item_uuid%>/" class="button button-small negative delete-item icon-trash" data-confirm-message="Are you sure you want to delete <%=title%>?" data-confirm-type="negative" data-confirm-accept="Delete Item" data-confirm-reject="Never Mind"></a></li>
				</ul>
			</footer>
		{% endif %}
	</div>
</script>