{% extends "layouts/base.html" %}

{% block extrahead %}
  <meta content="{{ shelf_name }} on Shlv.me" property="og:title">
  <meta content="{{ shelf_name }} on Shlv.me" property="og:description">
{% endblock %}

{% block content %}
	<article class="half-half shelf">
		<section class="left-column">
			<div id="active-stack"></div>
			<div class="share">
			  <p>Share this shelf: <a class="button button-small neutral icon-twitter" href="" target="_blank"></a> <!--<a class="button button-small neutral icon-facebook" href="" target="_blank"></a>-->
        </p>
      </div>
		</section>

		<section class="right-column">
			<h1>{{ shelf_name }}</h1>
			<h2>by <a href="{% url user_home shelf_user.username %}">{{ shelf_user.username }}</a></h2>
			<p>{{ shelf_description }}</p>
			<div id="active-item"></div>
		</section>
	</article>
{% endblock content %}

{% block templates %}
	{% include "clientside/item-details.html" %}
{% endblock templates %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
    $(function () { 
			$('#active-stack').stackView({
		    data: {% autoescape off %}{{ shelf_items }}{% endautoescape %},
		    ribbon: '{{ shelf_name }}'
			});
			
			var status = "http://twitter.com/home?status=Look at my shelf on Shlv.me " + encodeURIComponent('{{ shelf_name }}') + " " +  document.location;
			$('.icon-twitter').attr("href", status);
			
			var wall = "https://www.facebook.com/dialog/feed?app_id=123050457758183&link=https://developers.facebook.com/docs/reference/dialogs/&picture=http://images.amazon.com/images/P/0375422307.01.ZTZZZZZZ.jpg&name=" + encodeURIComponent('{{ shelf_name }}') + " &caption=Shlv.me&%20description=Check out this shelf on Shlv.me&redirect_uri=http://www.example.com/response";
			$('.icon-facebook').attr("href", wall);
		});
	</script>	
{% endblock scripts %}