{% extends "layouts/base.html" %}

{% block content %}
	<article class="half-half">
		<h1>
			<a href="{% url user_home shelf_user.username %}">{{ shelf_user.username }}&rsquo;s</a>
			{{ shelf_name }}
		</h1>
	
		<section class="left-column">
			<div id="active-stack"></div>
		</section>

		<section class="right-column">
			<div id="active-item"></div>
		</section>
	</article>
{% endblock content %}

{% block templates %}
	{% include "clientside/item-details.html" %}
{% endblock templates %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
    $(function () { 
			$('#active-stack').stackView({
		    data: {% autoescape off %}{{ shelf_items }}{% endautoescape %},
		    ribbon: '{{ shelf_name }}'
			});
		});
	</script>	
{% endblock scripts %}