{% extends "layouts/base.html" %}

{% block content %}
	
	<article class="half-half">
		<h1>
			<a href="{% url user_home shelf_user.username %}">
				{{ shelf_user.username }}&rsquo;s
			</a>
			{{ shelf.name }}
		</h1>
	
		<section class="left-column">
			<div id="active-stack"></div>
		</section>

		<section class="right-column">
			<div id="active-item"></div>
		</section>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
    $(function () { 
			$('#active-stack').stackView({
		    url: '{% url api_shelf_by_uuid shelf.shelf_uuid %}',
		    ribbon: '{{ shelf.name }}'
		});
	});
</script>	
{% endblock scripts %}