body {
	font-size:16px;
	line-height:1.5;
}

h1 {
	font-size:48px;
	line-height:1;
	margin-top:0;
}

h2 {
	font-size:24px;
}

h3 {
	font-size:20px;
	line-height:1.8;
}

p, ol, ul, dl {
	margin:24px 0;
}

ul, ol {
	padding-left:20px;
}

label {
	font-weight:bold;
	display:block;
}

input {
	&[type="text"], &[type="password"], &[type="email"] {
		border:1px solid #000;
		padding:5px;
		width:260px;
	}
}

textarea {
	@extend input[type="text"];
}

.helptext {
	font-size:10px;
	display:block;
	line-height:2.4;
}