.icon, [class^="icon-"], [class*=" icon-"] {
	&:after {
		font-family:'FontAwesome', serif;
		padding-left:5px;
		position:relative;
		top:1px;
	}
}

.icon-view:after {
	content:"\f06e";
}

.icon-edit:after {
	content:"\f044";
}

.icon-delete:after {
	content:"\f056";
}

.icon-login:after {
	content:"\f090";
}

.icon-logout:after {
	content:"\f08b";
}

.icon-register:after {
	content:"\f046";	
}

.icon-user:after {
	content:"\f007";
}

.icon-confirm:after {
	content:"\f058";
}

.confirm-accept {
	@extend .icon;

	.negative &:after {
		content:"\f056";
	}

	.positive &:after {
		content:"\f058";
	}
}