.main {
	width:$siteWidth;
	margin:0 auto;
	padding:0 $siteGutter;
}

.global-header {
	background:$minorGray;
	margin-bottom:48px;

	> nav {
		@extend .clearfix, .main;

		> h1 {
			float:left;
			margin:0;
			font-size:32px;
			line-height:1.5;

			> a {
				color:rgba(0,0,0,.5);
			}
		}

		> ul {
			float:right;
			padding:0;
			margin:0;
			position:relative;
			left:16px;

			li {
				float:left;
				border-left:1px solid rgba(255,255,255,.4);

				&:first-child {
					border-left:0;
				}
			}

			a {
				display:block;
				font-size:16px;
				line-height:3;
				padding:0 16px;
			}
		}
	}

	a {
		color:$standardGray;
		text-decoration:none;
	}
}



.global-footer {
	@extend .main;

	> p {
		border-top:1px solid $minorGray;
		font-size:12px;
		line-height:3;
	}
}

.half-half {
	@extend .clearfix;

	> .right-column {
		float:right;
		width:($siteWidth - $columnSpacing) / 2;
	}
	
	> .left-column {
		float:left;
		width:($siteWidth - $columnSpacing) / 2;
	}
}

.thin-centered {
	width:50%;
	margin:0 auto;
}

.two-thirds {
	@extend .clearfix;

	> aside, > .aside {
		float:left;
		width:($siteWidth - $columnSpacing) / 3;
	}

	> .content {
		float:right;
		width:($siteWidth - $columnSpacing) / 3 * 2;
	}
}