/* Contain floats: h5bp.com/q */
.clearfix {
	*zoom:1;

	&:before, &:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
}

@mixin translate($x, $y) {
	-webkit-transform:translate($x, $y);
	-moz-transform:translate($x, $y);
	-ms-transform:translate($x, $y);
	-o-transform:translate($x, $y);
	transform:translate($x, $y);
}