/* Contain floats: h5bp.com/q */
.clearfix {
	*zoom:1;

	&:before, &:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
}

.right-actions {
	list-style:none;
	float:right;
	margin:0;
	padding:6px 0;

	> li {
		float:left;
		margin-left:5px;
	}
}

.depressed-text {
	color:rgba(0,0,0,.5);
	text-shadow:1px 1px 1px rgba(255,255,255,.5), -1px -1px 1px rgba(0,0,0,.2);
}

@mixin translate($x, $y) {
	-webkit-transform:translate($x, $y);
	-moz-transform:translate($x, $y);
	-ms-transform:translate($x, $y);
	-o-transform:translate($x, $y);
	transform:translate($x, $y);
}