.ui-dialog-titlebar {
	display:none;
}

.ui-widget-overlay {
	position:fixed;
	top:0;
	left:0;
	background:#000;

	.rgba & {
		background:rgba(0,0,0,.5);
	}
}

.modal {
	.js & {
		display:none;
	}
	.ready & {
		display:block;
	}
}

.confirm-actions {
	@extend .right-actions;
	padding:12px 0;
}