.button {
	display:inline-block;
	border:1px solid $buttonBorderColor;
	text-decoration:none;
	line-height:1.875;
	padding:0 10px;
	cursor:pointer;
	background:rgba(255,255,255,.8);
	border-radius:10px;
	box-shadow:-1px -1px 1px rgba(255,255,255,.2),
	           1px 1px 1px rgba(0,0,0,.2);
	position:relative;

	&, &:visited {
		color:$buttonTextColor;
	}

	&:hover, &:focus {
		text-decoration:none;

		.boxshadow & {
			box-shadow:-1px -1px 1px rgba(0,0,0,.2),
			           1px 1px 1px rgba(255,255,255,.5),
			           inset 1px 5px 12px rgba(0,0,0,.3);
		}
	}

	&:hover, &:focus, &.immediate {
		color:#fff;
	}

	&.positive {
		&:hover, &:focus, &.immediate {
			background:$positiveColor;
		}
	}

	&.neutral {
		&:hover, &:focus, &.immediate {
			background:$neutralColor;
		}
	}

	&.negative {
		&:hover, &:focus, &.immediate {
			background:$negativeColor;
		}
	}
}

.button-small {
  line-height:1.1;
	padding:4px 8px;
}

.profile-image {
	background:#fff;
	border-radius:5px;
	overflow:hidden;
	box-shadow:0 0 9px #ccc;

	> img {
		display:block;
		max-width:100%;
		margin:0 auto;
		padding:24px 0;
	}

	> figcaption {
		/*background:url(../images/fabric_header.png) $globalHeader; */
		background-color: $grayWhisp;
		text-align:center;
		/*color:rgba(0,0,0,.5);*/
		color:$richBlue;
		border-top:1px solid $islandBorder;
		line-height:2.0;
		font-size:21px;
		/*text-shadow:1px 1px 1px rgba(255,255,255,.6);*/
		font-weight:bold;
	}
}

.island {
	@extend .clearfix;
	$gutter: 10px;
	border:1px solid $islandBorder;
	border-radius:2px;
	overflow:hidden;
	background:#fff;
	/* box-shadow:0 0 15px #ccc; */

	> header {
		/*background:url(../images/fabric_island.png) $islandHeader;*/
		background-color: $grayWhisp;
		padding:0 $gutter;
		/*box-shadow:inset 0 15px 20px rgba(255,255,255,.2);*/
		border-bottom: 1px solid $islandBorder;

		> h2, h3, h4 {
			margin:0;
		}
	}

	> section {
		padding:4px $gutter;
	}

	> footer {
		@extend .clearfix;
		/*border-top:1px solid $islandBorder;*/
		/*background:$islandFooter;*/
		padding:0 $gutter;
	}
}

.shelf-overview {
	margin-bottom:24px;

	p {
		margin:0;
	}

	h2 {
		line-height:1;
		padding:6px 0 6px 0;
		font-size: 20px;
		a {
		  color: $capeCodRed;
		}
	}
}

.shelf-meta {
	@extend .clearfix;
	list-style:none;
	padding:0;
	margin:12px 0 0 0;
	line-height:1;
	font-size:12px;
	color:#888;

	> li {
		float:left;
		margin-left:12px;

		&:first-child {
			margin-left:0;
		}
	}
}

.shelf-overview-actions {
	@extend .right-actions;
}

.delete-shelf {
  float:left;
  padding:6px 0;
}

.profile-info {
	list-style:none;
	font-size:12px;
	padding:0;

	> li {
		line-height:2;
	}
}

.edit-profile {
	margin-top:12px;
}

.contained-form {
	display:inline-block;

	p {
		margin:12px 0 0 0;

		&:first-child {
			margin-top:0;
		}
	}
}

// Generic messages
.flash-messages {
	@extend .clearfix, .main;
	list-style:none;
	padding:0;
	height:48px;
	margin:-48px auto 0 auto;
	text-align:center;
	position:relative;
	z-index:2;

	> li {
		display:inline-block;
		background:#000;
		color:#fff;
		font-size:16px;
		font-weight:bold;
		line-height:1.5;
		padding:6px;
		margin-left:5px;
		cursor:pointer;
		position:relative;
		box-shadow:inset 0 5px 10px rgba(0,0,0,.2), 0 2px 5px rgba(0,0,0,.4);
		border-radius:0 0 5px 5px;

		&:before {
			font-family:'FontAwesome';
			padding-right:10px;
		}

		&:after {
			font-family:'FontAwesome';
			padding-left:10px;
			content:"\f057";
			opacity:.5;
		}

		&:hover:after {
			opacity:1;
		}

		&.error {
			background:$negativeColor;

			&:before {
				content:"\f071";
			}
		}

		&.info {
			background:$neutralColor;

			&:before {
				content:"\f05a";
			}
		}

		&.warning {
			background:$warningColor;

			&:before {
				content:"\f071";
			}
		}

		&.success {
			background:$positiveColor;

			&:before {
				content:"\f00c";
			}
		}
	}
}

// In-form errors generated by django
.errorlist {
	list-style:none;
	padding:0;
	margin:0;
	color:$negativeColor;
	font-weight:bold;

	& + p {
		margin-top:0;
	}
}

.js .form-hidden {
	display:none;
}

.stackview {
	font-weight:normal;
}
