.shelf {
	h1 {
		margin-bottom:0;
	}
	h2 {
		margin-top:0;
	}
}

.active-item {
	@include translate(15px, 0);
}

.item-details {
	section > ul {
		list-style:none;
		padding:0;
		margin:0;

		> li {
			margin-bottom:12px;
		}
	}
	
	section > img {
	  max-height: 230px;
	  float:right;
	}

	> header {
		padding-top:12px;
		padding-bottom:12px;
	}

	h3 {
		padding:0;
		line-height:1.2;
	}

	h4 {
		margin:0;
	}
}

.item-actions {
	@extend .right-actions;
}

.view-item {
	float:right;
	margin:0 0 5px 10px;
	font-size:13px;
}