.embed > .stackview {
  height:400px;
}

.shelf {
	h1 {
		margin-bottom:0;
		.button {
      vertical-align:middle;
      font-size:16px;
    }
	}
	h2 {
		margin-top:0;
	}
}

.active-item {
	@include translate(15px, 0);
}

.share { 
  > .button-small {
    font-size:14px;
  }
  textarea {
    font-size:12px;
    width:375px;
    height:40px;
    overflow:hidden;
    font-family:monospace;
  }
}

.item-details {
	section > ul {
		list-style:none;
		padding:0;
		margin:0;

		> li {
			margin-bottom:12px;
		}
	}
	
	section > img {
	  max-height: 220px;
	  float:right;
	}

	> header {
		padding-top:12px;
		padding-bottom:12px;
	}

	h3 {
		padding:0;
		line-height:1.2;
		color: $capeCodRed;
	}

	h4 {
		margin:0;
	}
}

.item-actions {
	@extend .right-actions;
}

.view-item {
	float:right;
	margin:0 0 5px 10px;
	font-size:13px;
}

#active-item .icon-trash {
	padding-right: 12px;
}