.user h1 .button {
	vertical-align:middle;
	font-size:16px;
}

#welcome-notes {
	background-color: $pahurple;
	margin-bottom:70px;
}

#welcome-notes p {
	padding: 8px 0 8px 4px;
}

#welcome-notes a {
	margin:10px 0 10px 40px;
	color:$capeCodRed;
}

#welcome-notes header {
	background-color: $pahurple;
	border:none;
	margin: 8px 0 8px 0;
}

#welcome-notes .button {
	background-color: #fff;
	color: #000;
	font-size: 20px;
	cursor: move;
	border: 1px solid #000;
	box-shadow:none;
	border-radius:1px;
	text-decoration:none;
}

#kill-welcome {
	cursor:pointer;
	margin-top: -4px;	
	float:right;
}