$siteWidth: 960px;
$siteGutter: 10px;
$columnSpacing: 60px;
$standardGray: #444;
$minorGray: #e5e5e5;
$crimson: #a51c30;

$globalHeader: #c6d8ee;

//$islandHeader: #327CCB;
$islandHeader: $globalHeader - #555;
$islandFooter: #e5e5e5;
$islandBorder: $islandFooter - #111;

$warningColor: #b2ac30;
$negativeColor: $crimson;
$positiveColor: #1ca536;
$neutralColor: #555;

$buttonTextColor: #888;
$buttonBorderColor: rgba(0,0,0,.1);
