$siteWidth: 960px;
$siteGutter: 10px;
$columnSpacing: 60px;
$standardGray: #444;
$minorGray: #e5e5e5;
$crimson: #a51c30;
$seriousBlue: #6794AB;
$capeCodRed: #004E7D;
$grayWhisp: #F4F4F4;
$richBlue: #004E7D;
$barelyBlue: #E4F4FF;

$globalHeader: #c6d8ee;

//$islandHeader: #327CCB;
$islandHeader: $globalHeader - #555;
$islandFooter: #e5e5e5;
$islandBorder: $islandFooter - #111;

$warningColor: #b2ac30;
$negativeColor: $crimson;
$positiveColor: #00A04D;
$neutralColor: #555;

$selectColor: #c6d8ee;

$buttonTextColor: #666;
$buttonBorderColor: rgba(0,0,0,.1);
