@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Contain floats: h5bp.com/q */
.clearfix, .global-header > nav, .half-half, .two-thirds, .island, .island > footer, .shelf-meta, .flash-messages {
  *zoom: 1; }
  .clearfix:before, .global-header > nav:before, .half-half:before, .two-thirds:before, .island:before, .island > footer:before, .shelf-meta:before, .flash-messages:before, .clearfix:after, .global-header > nav:after, .half-half:after, .two-thirds:after, .island:after, .island > footer:after, .shelf-meta:after, .flash-messages:after {
    content: "";
    display: table; }
  .clearfix:after, .global-header > nav:after, .half-half:after, .two-thirds:after, .island:after, .island > footer:after, .shelf-meta:after, .flash-messages:after {
    clear: both; }

.right-actions, .shelf-overview-actions, .confirm-actions, .item-actions {
  list-style: none;
  float: right;
  margin: 0;
  padding: 6px 0; }
  .right-actions > li, .shelf-overview-actions > li, .confirm-actions > li, .item-actions > li {
    float: left;
    margin-left: 5px; }

.depressed-text {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.2); }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444444; }

body {
  margin: 0; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #c6d8ee;
  color: #444444;
  text-shadow: none; }

::selection {
  background: #c6d8ee;
  color: #444444;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #718399;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
  text-decoration: underline; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
html {
  overflow-y: scroll; }

body {
  font-size: 16px;
  line-height: 1.5;
  /* background:url(../images/paper.png) #fff; */
  color: #444444; }

body.embed {
  background: transparent; }

h1 {
  font-size: 48px;
  line-height: 1;
  margin-top: 0;
  color: #111; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  line-height: 1.8; }

p, ol, ul, dl {
  margin: 24px 0; }

ul, ol {
  padding-left: 20px; }

label {
  font-weight: bold;
  display: block; }

input[type="text"], textarea, input[type="password"], input[type="email"] {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  width: 260px; }

.helptext {
  font-size: 10px;
  display: block;
  line-height: 2.4; }

.main, .global-header > nav, .global-footer, .flash-messages {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.global-header {
  /* background:url(../images/fabric_header.png) $globalHeader; */
  background-color: #000;
  margin-bottom: 48px;
  /* text-shadow:1px 1px 1px rgba(255,255,255,.6); */
  /*box-shadow:0 5px 10px rgba(0,0,0,.2), inset 0 15px 20px rgba(255,255,255,.5); */
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  position: relative;
  z-index: 3; }
  .global-header > nav > h1 {
    float: left;
    margin: 0;
    font-size: 32px;
    line-height: 1.5; }
  .global-header > nav > ul {
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
    left: 16px; }
    .global-header > nav > ul li {
      float: left;
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
      .global-header > nav > ul li:first-child {
        border-left: 0; }
    .global-header > nav > ul a {
      display: block;
      font-size: 16px;
      line-height: 3;
      padding: 0 16px; }
      .global-header > nav > ul a:hover, .global-header > nav > ul a:focus {
        background: rgba(255, 255, 255, 0.3); }
  .global-header a {
    /* color:rgba(0,0,0,.5); */
    color: #FFF;
    text-decoration: none; }

.global-footer {
  color: #888; }
  .global-footer > p {
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    line-height: 3;
    padding-top: 6px; }
    .global-footer > p > .branding {
      float: right; }
    .global-footer > p .branding img {
      float: right;
      padding: 0 0 0 5px;
      width: 45px; }

.half-half > .right-column {
  float: right;
  width: 450px; }
.half-half > .left-column {
  float: left;
  width: 450px; }

.thin-centered {
  width: 50%;
  margin: 0 auto; }

.medium-centered {
  width: 75%;
  margin: 0 auto; }

.two-thirds > aside, .two-thirds > .aside {
  float: left;
  width: 300px; }
.two-thirds > .content {
  float: right;
  width: 600px; }

.button, .button-small {
  display: inline-block;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  line-height: 1.875;
  padding: 0 8px 0 8px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative; }
  .button, .button-small, .button:visited, .button-small:visited {
    color: #666666; }
  .button:hover, .button-small:hover, .button:focus, .button-small:focus {
    text-decoration: none; }
  .boxshadow .button:active, .boxshadow .button-small:active {
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.5), inset 1px 5px 12px rgba(0, 0, 0, 0.3); }
  .button:hover, .button-small:hover, .button:focus, .button-small:focus, .button.immediate, .immediate.button-small {
    color: #fff; }
  .button.positive:hover, .positive.button-small:hover, .button.positive:focus, .positive.button-small:focus, .button.positive.immediate, .positive.immediate.button-small {
    background: #00a04d; }
  .button.neutral:hover, .neutral.button-small:hover, .button.neutral:focus, .neutral.button-small:focus, .button.neutral.immediate, .neutral.immediate.button-small {
    background: #555555; }
  .button.negative:hover, .negative.button-small:hover, .button.negative:focus, .negative.button-small:focus, .button.negative.immediate, .negative.immediate.button-small {
    background: #a51c30; }

.button-small {
  font-size: 11px;
  /*padding:4px 8px;*/ }
  .button-small.positive:hover, .button-small.positive:focus, .button-small.positive.immediate {
    background: #555555; }

.profile-image {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 9px #ccc; }
  .profile-image > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 24px 0; }
  .profile-image > figcaption {
    /*background:url(../images/fabric_header.png) $globalHeader; */
    background-color: #f4f4f4;
    text-align: center;
    /*color:rgba(0,0,0,.5);*/
    color: #000;
    border-top: 1px solid #d4d4d4;
    line-height: 2.0;
    font-size: 21px;
    /*text-shadow:1px 1px 1px rgba(255,255,255,.6);*/
    font-weight: bold; }

.island {
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  overflow: hidden;
  background: #fff;
  /* box-shadow:0 0 15px #ccc; */ }
  .island > header {
    /*background:url(../images/fabric_island.png) $islandHeader;*/
    background-color: #f4f4f4;
    padding: 0 10px;
    /*box-shadow:inset 0 15px 20px rgba(255,255,255,.2);*/
    border-bottom: 1px solid #d4d4d4; }
    .island > header > h2, .island > header h3, .island > header h4 {
      margin: 0; }
  .island > section {
    padding: 4px 10px; }
  .island > footer {
    /*border-top:1px solid $islandBorder;*/
    /*background:$islandFooter;*/
    margin: 10px 0 0 0;
    padding: 0 6px 6px 10px;
    font-size: 11px; }
  .island .shelf-date {
    position: relative;
    left: 0px;
    bottom: -3px; }
  .island .shelf-edit {
    float: right; }

.shelf-overview {
  margin-bottom: 24px; }
  .shelf-overview p {
    margin: 0; }
  .shelf-overview h2 {
    line-height: 1;
    padding: 6px 0 6px 0;
    font-size: 20px;
    display: inline; }
    .shelf-overview h2 a {
      color: #004e7d;
      line-height: 1.3; }

.shelf-meta {
  list-style: none;
  padding: 0;
  margin: 12px 0 0 0;
  line-height: 1;
  font-size: 12px;
  color: #888; }
  .shelf-meta > li {
    float: left;
    margin-left: 12px; }
    .shelf-meta > li:first-child {
      margin-left: 0; }

.shelf-overview-actions {
  font-size: 11px;
  padding: 0; }

.delete-shelf {
  float: left;
  padding: 6px 0; }

.profile-info {
  list-style: none;
  font-size: 12px;
  padding: 0; }
  .profile-info > li {
    line-height: 2; }

.edit-profile {
  margin-top: 12px; }

#edit-profile section p button {
  margin: 8px 0 8px 0; }

.edit-profile-section {
  margin-top: 12px; }

.contained-form {
  display: inline-block; }
  .contained-form p {
    margin: 10px 0 5px 0; }
    .contained-form p:first-child {
      margin-top: 0; }

p.profile-text {
  font-size: 12px;
  margin-top: 2px; }

.flash-messages {
  list-style: none;
  padding: 0;
  height: 48px;
  margin: -48px auto 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .flash-messages > li {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding: 6px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 5px 5px; }
    .flash-messages > li:before {
      font-family: 'FontAwesome';
      padding-right: 10px; }
    .flash-messages > li:after {
      font-family: 'FontAwesome';
      padding-left: 10px;
      content: "\f057";
      opacity: .5; }
    .flash-messages > li:hover:after {
      opacity: 1; }
    .flash-messages > li.error {
      background: #a51c30; }
      .flash-messages > li.error:before {
        content: "\f071"; }
    .flash-messages > li.info {
      background: #555555; }
      .flash-messages > li.info:before {
        content: "\f05a"; }
    .flash-messages > li.warning {
      background: #b2ac30; }
      .flash-messages > li.warning:before {
        content: "\f071"; }
    .flash-messages > li.success {
      background: #00a04d; }
      .flash-messages > li.success:before {
        content: "\f00c"; }

.errorlist {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #a51c30;
  font-weight: bold; }
  .errorlist + p {
    margin-top: 0; }

.js .form-hidden {
  display: none; }

.stackview {
  font-weight: normal; }

#new-shelf {
  width: 600px;
  left: 10px; }

.share a {
  margin: 5px; }

.share .icon-twitter {
  line-height: 1.1;
  padding: 1px 8px 1px 4px;
  font-size: 22px;
  top: 1px; }

.privacy-policy h3 {
  margin: 25px 0 0 0; }

.privacy-policy p {
  margin: 3px 0 10px 0; }

.icon:after, [class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: 'FontAwesome', serif;
  padding-left: 5px;
  position: relative;
  top: 1px; }

.icon-view:after {
  content: "\f06e"; }

.icon-edit:after {
  content: "\f044"; }

.icon-delete:after {
  content: "\f056"; }

.icon-trash:after {
  content: "\f014"; }

.icon-login:after {
  content: "\f090"; }

.icon-logout:after {
  content: "\f08b"; }

.icon-register:after {
  content: "\f046"; }

.icon-user:after {
  content: "\f007"; }

.icon-ok:after {
  content: "\f058"; }

.icon-accept:after {
  content: "\f087"; }

.icon-reject:after {
  content: "\f088"; }

.icon-external:after {
  content: "\f08e"; }

.icon-twitter:after {
  content: "\f081"; }

.icon-facebook:after {
  padding-left: 1px;
  font-size: 20px;
  content: "\f082"; }

.icon-unlock:after {
  content: "\f09c"; }

.icon-lock:after {
  content: "\f023"; }

.icon-remove:after {
  content: "\f00d"; }

.ui-dialog-titlebar {
  display: none; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #000; }
  .rgba .ui-widget-overlay {
    background: rgba(0, 0, 0, 0.5); }

.js .modal {
  display: none; }
.ready .modal {
  display: block; }

.confirm-actions {
  padding: 12px 0; }

#delete-confirm {
  padding-left: 10px; }

.welcome h1 {
  margin: 0;
  font-size: 72px; }
.welcome h2 {
  font-size: 21px;
  font-weight: normal;
  line-height: 1.4; }
.welcome h3 {
  font-size: 17px;
  color: #004e7d;
  margin: 15px 0 0 0;
  line-height: 1.1; }
.welcome .selling-desc {
  margin: 2px 0 0 2px;
  font-size: 16px; }
.welcome #call-to-action {
  margin: 30px 0 30px 2px; }

.user h1 .button, .user h1 .button-small {
  vertical-align: middle;
  font-size: 16px; }

#welcome-notes {
  background-color: #ffc0db;
  margin-bottom: 70px;
  border: 2px solid #444444; }

#welcome-notes p {
  padding: 8px 0 8px 4px; }

#welcome-notes a {
  margin: 10px 0 10px 40px;
  color: #004e7d; }

#welcome-notes header {
  background-color: #ffc0db;
  border: none;
  margin: 8px 0 8px 0; }

#welcome-notes .button, #welcome-notes .button-small {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  cursor: move;
  border: 1px solid #000;
  box-shadow: none;
  border-radius: 1px;
  text-decoration: none; }

#kill-welcome {
  cursor: pointer;
  margin-top: -4px;
  float: right; }

.embed > .stackview {
  height: 400px; }

.shelf h1 {
  margin-bottom: 0; }
  .shelf h1 .button, .shelf h1 .button-small {
    vertical-align: middle;
    font-size: 16px; }
.shelf h2 {
  margin-top: 0; }

.active-item {
  -webkit-transform: translate(15px, 0);
  -moz-transform: translate(15px, 0);
  -ms-transform: translate(15px, 0);
  -o-transform: translate(15px, 0);
  transform: translate(15px, 0); }

.share > .button-small {
  font-size: 14px; }
.share textarea {
  font-size: 12px;
  width: 375px;
  height: 40px;
  overflow: hidden;
  font-family: monospace; }

.item-details section > ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .item-details section > ul > li {
    margin-bottom: 12px; }
.item-details section > img {
  max-height: 220px;
  float: right; }
.item-details > header {
  padding-top: 12px;
  padding-bottom: 12px; }
.item-details h3 {
  padding: 0;
  line-height: 1.2;
  color: #004e7d; }
.item-details h4 {
  margin: 0; }

.item-actions {
  clear: both;
  margin-right: 5px; }

.view-item {
  float: right;
  margin: 0 0 5px 10px;
  font-size: 13px; }

#active-item .icon-trash {
  padding-right: 12px; }

select {
  padding-right: 10px; }

#preview-item {
  float: right; }

#add-shelf {
  float: left;
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10px; }

#shelf-select {
  float: left; }

#shelfrank-slider {
  margin-top: 10px;
  width: 250px; }

#legend {
  margin: -17px 0 0 -21px;
  width: 300px;
  z-index: 1; }
  #legend li {
    display: inline-block;
    height: 18px;
    width: 28px; }

#legend ul.legend-box li.one {
  background: repeat-x scroll 0 47% #CCEBFF;
  border-color: #AADDFF; }

#legend ul.legend-box li.two {
  background: #adf repeat-x 0 47%;
  border-color: #88cfff; }

#legend ul.legend-box li.three {
  background: #77c9ff repeat-x 0 47%;
  border-color: #59B6EF; }

#legend ul.legend-box li.four {
  background-color: #44b4ff;
  border-color: #11a0ff; }

#legend ul.legend-box li.five {
  background-color: #22a7ff;
  border-color: #008fee; }

#legend ul.legend-box li.six {
  background-color: #0099ff;
  border-color: #007acc; }

#legend ul.legend-box li.seven {
  background-color: #0085dd;
  border-color: #06a; }

#legend ul.legend-box li.eight {
  background-color: #0070bb;
  border-color: #004777; }

#legend ul.legend-box li.nine {
  background-color: #005c99;
  border-color: #002944; }

#legend ul.legend-box li.ten {
  background-color: #004777;
  border-color: #001522; }

/*
 * jQuery UI CSS Framework 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee 50% top repeat-x;
  color: #333333; }

.ui-widget-content a {
  color: #666666; }

.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold; }

.ui-widget-header a {
  color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #88cfff;
  background: #c6d8ee 50% 50% repeat-x;
  font-weight: bold;
  color: #11a0ff; }

.ui-state-hover a, .ui-state-hover a:hover {
  color: #c77405;
  text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #88cfff;
  background: #ffffff 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none; }

.ui-widget :active {
  outline: none; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/*
 * jQuery UI Slider 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.4em;
  height: 1.25em;
  cursor: default;
  background-color: transparent;
  border: #1CA536 5px solid; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

.ui-slider-horizontal {
  height: 0em;
  border: 0px; }

.ui-slider-horizontal .ui-slider-handle {
  top: -0.55em;
  margin-left: -0.1em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }
