{% extends "layouts/base.html" %}

{% block title %}Add Item | Shelf.io{% endblock %}

{% block content %}
	<article class="medium-centered">

      {% include "partials/new-shelf-mini.html" %}

		<form action="." method="post">
			{% csrf_token %}
			{% if add_item_form.errors %}
      <ul class="errorlist">
        <li>Please fix the error(s) below.</li>
      </ul>
      {% endif %}
      
			<h1>Add Item to Shelf</h1>
			
			<div id="preview-item" class="stackview clearfix"></div>
			
			<div id="shelf-select">
			  {{ add_item_form.shelf.errors }}
        <label for="id_shelf">Shelf</label>
        {{ add_item_form.shelf }}
      </div>
      
      <a id="add-shelf" href="#new-shelf" title="New Shelf" class="button positive immediate">+</a>
      
      <div style="clear:both;"></div>
      
			<div id="customizations" style="display:none;">
			<p>
			  {{ add_item_form.title.errors }}
        <label for="id_title">Title</label>
        {{ add_item_form.title }}
      </p> 
      <p>
			  {{ creator_form.creator.errors }}
        <label for="id_creator">Creator</label>
        {{ creator_form.creator }}
      </p>
      <p>
			  {{ add_item_form.pub_date.errors }}
        <label for="id_pub_date">Year</label>
        {{ add_item_form.pub_date }}
      </p>
      <p>
			  {{ add_item_form.format.errors }}
        <label for="id_format">Format</label>
        {{ add_item_form.format }}
      </p>
      <label for="id_shelfrank">Shelfrank</label>
			<div id="shelfrank-slider"></div>
			<div id="legend">
			  <ul class="legend-box">
			    <li class="one"></li><li class="two"></li><li class="three"></li><li class="four"></li><li class="five"></li><li class="six"></li><li class="seven"></li><li class="eight"></li><li class="nine"></li><li class="ten"></li>
			  </ul>
			</div>
			      <p>
			  {{ add_item_form.link.errors }}
        <label for="id_link">Link</label>
        {{ add_item_form.link }}
      </p>
			<div id="book-fields">
      <p>
			  {{ add_item_form.measurement_page_numeric.errors }}
        <label for="id_measurement_page_numeric">Pages</label>
        {{ add_item_form.measurement_page_numeric }}
      </p>
      <p>
			  {{ add_item_form.measurement_height_numeric.errors }}
        <label for="id_measurement_height_numeric">Height (cm)</label>
        {{ add_item_form.measurement_height_numeric }}
      </p>
      <p>
			  {{ add_item_form.isbn.errors }}
        <label for="id_isbn">ISBN</label>
        {{ add_item_form.isbn }}
      </p>
      </div>
      <p>
			  {{ add_item_form.shelfrank.errors }}
        {{ add_item_form.shelfrank }}
      </p>
		  <p>
			{{ add_item_form.notes.errors }}
        	<label for="id_notes">Notes</label>
        	{{ add_item_form.notes }}
      </p>
      </div>

			<p>
				<input type="submit" value="Add Item" class="button positive icon-ok immediate">
			</p>
			<a href="#" id="customize">customize</a>
		</form>
	</article>
{% endblock content %}

{% block scripts %}
	{{ block.super }}	
	<script type="text/javascript" src="{{ STATIC_PREFIX }}script/form.js"></script>	
	<script type="text/html" id="book_tmpl">
    <li class="stack-item stack-book heat<%= heat %>" style="width:<%= book_height %>; height:<%= book_thickness %>;">
			<a href="<%= link %>" target="_blank">
				<span class="spine-text">
				  <span class="spine-title"><%= title %></span>
					<span class="spine-author"><%= author %></span>
				</span>
				<span class="spine-year"><%= year %></span>
				<span class="stack-pages" />
				<span class="stack-cover" />
			</a>
		</li>
  </script>
  </script>
  <script type="text/html" id="soundrecording_tmpl">
    <li class="stack-item stack-soundrecording heat<%= heat %>">
			<a href="<%= link %>" target="_blank">
					<span class="spine-text">
						<span class="spine-title"><%= title %></span>
					</span>
					<span class="spine-year"><%= year %></span>
					<span class="sound-edge"></span>
					<span class="sound-cover"></span>
			</a>
		</li>
  </script>
  <script type="text/html" id="videofilm_tmpl">
    <li class="stack-item stack-videofilm heat<%= heat %>" style="width:330px;">
			<a href="<%= link %>" target="_blank">
				<span class="spine-text">\
					<span class="spine-title"><%= title %></span>
				</span>
				<span class="spine-year"><%= year %></span>
				<span class="videofilm-edge" />
				<span class="videofilm-cover" />
			</a>
		</li>
  </script>
  <script type="text/html" id="webpage_tmpl">
    <li class="stack-item stack-webpage heat<%= heat %>" style="width:330px;">
				<a href="<%= link %>" target="_blank">
					<span class="url-bar">
						<span class="url-title"><%= title %></span>
					</span>
					<span class="webpage-top"></span>
					<span class="webpage-edge"></span>
				</a>
			</li>
  </script>
{% endblock scripts %}