.user h1 .button {
	vertical-align:middle;
	font-size:16px;
}

#welcome-notes {
	background-color: #fff;
	margin-bottom:70px;
	border: 2px solid $pahurple;
}

#welcome-notes p {
	padding: 8px 0 8px 4px;
}

#welcome-notes a {
	margin:10px 0 10px 40px;
	color:$capeCodRed;
}

#welcome-notes header {
	background-color: $pahurple;
	border:none;
	color:#fff;
	line-height: 35px;
}

#welcome-notes .button {
	background-color: #fff;
	color: #000;
	font-size: 20px;
	cursor: move;
	border: 1px solid #000;
	box-shadow:none;
	border-radius:1px;
	text-decoration:none;
}

#kill-welcome {
	cursor:pointer;
	margin-top: -2px;
	float:right;
}

.about .button {
	background-color: #fff;
	color: #000;
	font-size: 20px;
	cursor: move;
	border: 1px solid #000;
	box-shadow:none;
	border-radius:1px;
	text-decoration:none;
	
	&:hover {
		background-color:white;
	}
}

/* TODO: this bookmarklet button styling happens in at least three different places. consolidate */
.bookmark .button {
	margin: 10px 0 10px 30px;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	cursor: move;
	border: 1px solid #000;
	box-shadow:none;
	border-radius:1px;
	text-decoration:none;
	
	&:hover {
		background-color:white;
	}
}

.bookmark ul {
	margin: 15px 0 0 20px;
}