<form action="{% url user_home user.username %}" method="post" class="modal island contained-form" id="new-shelf">
	{% csrf_token %}
	<header>
		<h3>New Shelf</h3>
	</header>

	{{ new_shelf_form.non_field_errors }}
	<section>
		<p>
			{{ new_shelf_form.name.errors }}
			<label for="id_name">Shelf Name - http://shlv.me/</label>
			{{ new_shelf_form.name }}
		</p>
		<p>
			{{ new_shelf_form.description.errors }}
			<label for="id_description">Shelf Description</label>
			{{ new_shelf_form.description }}
		</p>
		<p>
			{{ new_shelf_form.is_private.errors }}
			<label>Make shelf private {{ new_shelf_form.is_private }}</label>
		</p>

		<p>
		  <a class="button neutral modal-close">Cancel</a>
			<button type="submit" class="button positive icon-ok">Create Shelf</button>
		</p>
	</section>
</form>
