{% if is_owner or not shelf.is_private %}
	<article class="shelf-overview island" data-uuid="{{ shelf.shelf_uuid }}">
		<header>
			<h2><a href="{% url user_shelf user_name shelf.slug %}">{{ shelf.name }}</a></h2>
		</header>

		<section>
			<p>{{ shelf.description }}</p>
			<ul class="shelf-meta">
				<li class="date">Created on {{ shelf.creation_date|date:"F jS, Y" }}</li>
			</ul>
		</section>

		<footer>
			<ul class="shelf-overview-actions">
				{% if is_owner %}
					{% if shelf.is_private %}
						<li class="is_private"> Private</li>
					{% else %}
						<li class="is_private"> Public</li>
					{% endif %}					
					
					<li><a href="#edit-shelf" class="button neutral edit-shelf icon-edit">Edit</a></li>
					<li>
						<form action="{% url user_shelf user_name shelf.slug %}" method="post" class="single-button">
							{% csrf_token %}
							<input type="hidden" name="_method" value="delete">
							<button type="submit" class="button button-small negative icon-trash" data-confirm-type="negative" data-confirm-message='Are you sure you want to delete the "{{ shelf.name }}" shelf?' data-confirm-reject="Never Mind" data-confirm-accept="Delete It"></button>
						</form>
					</li>
				{% endif %}
			</ul>
		</footer>
	</article>
{% endif %}