{% if is_owner or not shelf.is_private %}
	<article class="shelf-overview island" data-uuid="{{ shelf.shelf_uuid }}">
		<header>
			<h2><a href="{% url user_shelf user_name shelf.slug %}">{{ shelf.name }}</a></h2>
			{% if is_owner %}
				<span style="float:right">
				{% if shelf.is_private %}
    				<span class="icon-lock"></span>
				{% else %}
					<span class="icon-unlock"></span>
				{% endif %}
				</span>
			{% endif %}
			</h2>
		</header>

		<section>
			{% if shelf.description  %}
				{{ shelf.description }}
			{% else %}
				(No description)
			{% endif %}
		</section>

		<footer>
			{% if is_owner %}
				<span class="shelf-date">Created on {{ shelf.creation_date|date:"F jS, Y" }}</span>	
				<span class="shelf-edit"><a href="#edit-shelf" class="button neutral edit-shelf icon-edit">Edit Shelf</a></span>
			{% endif %}
		</footer>
	</article>
{% endif %}